<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav")
   {
    x.className += " responsive";
   } else 
   {
    x.className = "topnav";
   }
  } 
</script>
  <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="tableStyle.css">
  <title>Turnee Sah - Acasa</title>
<link rel="icon" href="/favicon.ico" type="image/icon type">
</head>
<body>
 <div class="topnav" id="myTopnav">
  <a href="/" class="active">Acasa</a>
  <a href="turnee">Toate turneele</a>
  <a href="clasament">Clasament participanti</a>
  <a href="inscriere">Inscriere</a>
  <a href="adaugare">Adaugare</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
 <table id="customers">
     <tr>
         <th>Nume</th>
         <th>Data</th>
         <th>Ora</th>
         <th>Premiu</th>
     </tr>
     <tr th:each="turneu : ${acasa}">
         <td th:text="${turneu.name}">Default</td>
         <td th:text="${turneu.date}">Default</td>
         <td th:text="${turneu.time}">Default</td>
         <td th:text="${turneu.prizeMoney}+'€'">Default</td>
     </tr>
 </table>
</body>
</html>