<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav")
   {
    x.className += " responsive";
   } else 
   {
    x.className = "topnav";
   }
  } 
</script>
  <link rel="stylesheet" href="Style.css">
  <title>Turnee Sah - Inscriere</title>
  <link rel="icon" href="icon.jpg" type="image/icon type">
</head>
<body>
 <div class="topnav" id="myTopnav">
  <a href="/" >Acasa</a>
  <a href="turnee">Toate turneele</a>
  <a href="clasament">Clasament participanti</a>
  <a href="inscriere" class="active">Inscriere</a>
  <a href="adaugare">Adaugare</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
 <div>
     <form action="saveUser" method="post">
         <div>
             <label>Name:</label>
             <input type="text" name="name"></input>
             <input type="submit" value="Submit"></input>
         </div>
     </form>
 </div>
</body>
</html>